body {
  font-family: 'Fira Mono', Menlo, monospace;
  font-size: 13pt;
  background: #F7F7F7;
  color: #000000;
}


em {
  background-color: #C8FD70;
  color: inherit;
  font-style: normal;
  padding: 0 2px;
}


code {
  display: block;
  font-family: inherit;
  font-size: 0.95em;
  line-height: 1.6em;
  box-sizing: border-box;
  max-width: 700px;
  min-height: 30px;
  width: 100%;
  margin: 1em 0;
  padding: 6px;
  border: 2px dotted #93B7BE;
  border-radius: 6px;
  word-wrap: break-word;
  white-space: pre-wrap;
}


p {
  margin-top: 1.0em;
  line-height: 1.8em;
}


h1 {
  margin: 0 auto;
  line-height: 1.4em;
  font-size: 2em;
  font-weight: normal;
}


h2,
h3 {
  margin-top: 1.2em;
  margin-bottom: -0.2em;
  font-weight: normal;
}


h2 {
  font-size: 1.3em;
}


h3 {
  font-size: 1.1em;
}


a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #93B7BE;
}

a:hover {
  border-bottom: 2px solid #C3423F;
}


ul {
  line-height: 1.8em;
}


textarea,
input[type=number] {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  color: inherit;
  background: rgba(199, 253, 112, 0.33);
  border: 2px solid #93B7BE;
  border-radius: 6px;
  padding: 4px;
}


input[type=number] {
  -moz-appearance: textfield;
  -webkit-text-fill-color: inherit;
  text-align: right;
  margin: 0 4px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3px;
  background: #93B7BE;
  outline: none;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

input[type=range]::-moz-range-track {
  background: #93B7BE;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  background: #C3423F;
  cursor: pointer;
  border-radius: 50%;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  background: #C3423F;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
}

input[type=range]::-moz-focus-outer {
  border-style: none;
}


div.calc-input {
  margin-top: 1.2em;
  margin-bottom: 0em;
}


img.logo {
  float: left;
}


img.boom {
  width: 100%;
}


.snippet {
  position: relative;
}


.copy-btn {
  position: absolute;
  right: 6px;
  top: 6px;

  width: 20px;
  height: 20px;

  border: none;
  background: url(../clippy.svg) no-repeat transparent;

  cursor: pointer;
}


.spoiled {
  border: 2px solid #C3423F !important;
  color: #C3423F !important;
}


.switch input {
  display: none;
}

.switch label {
  display: inline-block;
  color: inherit;
  border-bottom: 1px dotted #000000;
  opacity: 0.5;
}

.switch label:hover {
	cursor: pointer;
}

.switch input:checked + label {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-style: none;
  color: inherit;
  cursor: default;
  opacity: 1;
}


#app {
  max-width: 700px;
  width: 96%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


#alphabet {
  margin-top: 2px;
  width: 100%;
  resize: none;
}


#counter {
  font-size: 0.7em;
  float: right;
  color: #93B7BE;
}


#header-with-txt-logo {
  grid-column: span 12;
  display: none;
}


#header {
  grid-column: span 8;
}


#header-logo {
  grid-column: span 4;
}


#main-content {
  grid-column: span 12;
}


#speed {
  width: 5em;
}


#length {
  width: 2em;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 13pt;
  }
}


@media screen and (max-width: 480px) {
  body {
    font-size: 12pt;
  }

  #header-with-txt-logo {
    display: block;
  }

  #header {
    display: none;
  }

  #header-logo {
    display: none;
  }
}


@media screen and (max-width: 375px) {
  body {
    font-size: 11pt;
  }

  #speed {
    width: 3.5em;
  }
}


@media screen and (max-width: 320px) {
  body {
    font-size: 10pt;
  }
}

.hljs {
  background: #F7F7F7;
  color: #657b83;
}

.hljs-comment {
  color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string {
  color: #2aa198;
}

/* Solarized Red */
.hljs-built_in {
  color: #dc322f;
}
