/* Colors https://coolors.co/e7ecef-e84855-f9dc5c-386fa4-59a5d8 */
body {
  font-family: 'Fira Mono', monospace;
  font-size: 13pt;
  background: #F7F7F7;
  color: #000000;
}

em {
  background-color: #C8FD70;
  color: inherit;
  font-style: normal;
  padding: 0 2px;
}

p {
  margin-top: 1.0em;
  line-height: 1.8em;
}

h3 {
  margin-top: 1.4em;
  margin-bottom: -0.2em;
}


div {
  margin-top: 1.2em;
  margin-bottom: 0em;
}


a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #93B7BE;
}

a:hover {
  border-bottom: 2px solid #C3423F;
}

textarea,
input[type=number] {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: rgba(199, 253, 112, 0.33);
  border: 2px solid #93B7BE;
  border-radius: 6px;
  padding: 4px;
}


input[type=number] {
  -moz-appearance: textfield;
  -webkit-text-fill-color: inherit;
  text-align: right;
  margin: 0 4px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3px;
  background: #93B7BE;
  outline: none;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

input[type=range]::-moz-range-track {
  background: #93B7BE;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  background: #C3423F;
  cursor: pointer;
  border-radius: 50%;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  background: #C3423F;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
}

input[type=range]::-moz-focus-outer {
  border-style: none;
}


.switch input {
  display: none;
}

.switch label {
  display: inline-block;
  color: inherit;
  border-bottom: 1px dotted #000000;
  opacity: 0.5;
}

.switch label:hover {
	cursor: pointer;
}

.switch label.checked {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-style: none;
  color: inherit;
  cursor: default;
  opacity: 1;
}


ul {
  line-height: 1.8em;
}


#app {
  width: 700px;
  margin: 2em auto;
}


#alphabet {
  margin-top: 2px;
  width: calc(100% - 12px);
  resize: none;
}


#counter {
  font-size: 0.7em;
  float: right;
  color: #93B7BE;
}


#speed {
  width: 5em;
}


#length {
  width: 1.8em;
}


@media screen and (max-width: 768px) {
  #app {
    width: 568px;
  }
}


@media screen and (max-width: 480px) {
  body {
    font-size: 12pt;
  }

  #app {
    width: 380px;
  }
}


@media screen and (max-width: 375px) {
  body {
    font-size: 11pt;
  }

  #app {
    width: 340px;
  }
}


@media screen and (max-width: 320px) {
  body {
    font-size: 10pt;
  }

  #app {
    width: 300px;
  }
}